/*
  *
  * Block: Testimonials.
  *
*/

.b-testimonials {
  height: 100%;
  max-width: 28rem;
  overflow: hidden;
  width: 100%;

  &__items {
    @include list-unstyled();
    display: flex;
    margin-bottom: 3.75rem;
    overflow: visible;
    width: 100%;

    .swiper-slide,
    .swiper-slide-active {
      width: max-content;
    }

    .swiper-slide-active {
      .c-testimonial {
        border: 2px solid color('primary');
        box-shadow: 0 75px 114px -48px rgb(0, 0, 0, 8%);
      }
    }
  }

  &__nav-slider {
    display: flex;
    justify-content: space-between;
  }

  .swiper-pagination {
    @include list-unstyled();
    align-items: center;
    display: flex;
    gap: 0.938rem;
  }

  .swiper-pagination-bullet {
    @include circle(0.938rem, css-color('gray-400'));
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: css-color('primary');
    }

    &-active {
      background-color: css-color('primary');
      border-radius: 3.125rem;
      width: 2.813rem;
    }
  }

  &__buttons {
    @include list-unstyled();
    display: flex;
  }

  &__button {
    &:first-child {
      margin-right: 1.25rem;
    }
  }

  .c-btn {
    &:hover {
      color: color('white');
    }
  }
}
