/*
 *
 * Plans.
 *
 */

.c-box-general {
  @include list-unstyled();
  background-color: color('white');
  border-radius: 0.625rem;
  box-shadow: 0 40px 65px -25px rgb(13, 16, 37, 10%);
  margin: 0 auto;
  max-width: rem(350px);
  padding: rem(37px) rem(50px);

  @include media-breakpoint-up(lg) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 71.25rem;
    padding: rem(37px) rem(90px);
  }

  svg {
    height: rem(55px);
    margin-right: rem(36.5px);
    width: rem(55px);
  }

  h3 {
    color: css-color('darken');
    font-weight: font-weight('bold');
  }

  &__data {
    align-items: center;
    display: flex;
    margin-inline: auto;
    width: 12.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      width: max-content;
    }
  }

  &__vertical-bar {
    background-color: css-color('gray-300');
    display: block;
    height: rem(2px);
    margin: 2rem auto;
    max-width: rem(200px);
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: rem(125.57px);
      margin: unset;
      width: rem(2px);
    }
  }
}
