/*
 *
 * Testimonials.
 *
 */

.c-testimonial {
  border: 2px solid color('gray-600');
  border-radius: 0.625rem;
  height: 14.375rem;
  padding: 1.875rem;
  transition: all 0.2s ease;
  width: 25rem;

  &--active {
    border: 2px solid color('primary');
    box-shadow: 0 75px 114px -48px rgb(0, 0, 0, 8%);
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &__profile {
    align-items: center;
    display: flex;

    p {
      margin: 0;
    }
  }

  &__figure {
    @include circle(3.125rem);
    display: inline-block;
    margin: 0 1.25rem 0 0;
    overflow: hidden;

    img {
      @include image-size();
    }
  }

  &__review {
    display: inline-block;
  }
}
