/**
 *
 * text.
 *
 */

.c-text {
  color: color('darken');

  &--xs {
    @include font-size(0.875rem);
  }

  &--sm {
    @include font-size(1rem);
  }

  &--md {
    @include font-size(1.125rem);
  }

  &--ls {
    @include font-size(1.25rem);
  }

  &--xl {
    @include font-size(1.563rem);
  }

  &--bold {
    font-weight: font-weight('bold');
  }

  &--medium {
    font-weight: font-weight('medium');
  }

  &--normal {
    font-weight: font-weight('normal');
  }
}
