/*
 *
 * ACF Button
 * Style the ACF button to match with WordPress button.
 *
 */

.acf-button {
  &.button-primary {
    align-items: center;
    background: var(--wp-admin-theme-color);
    border-radius: 2px;
    color: #fff;
    display: inline-flex;
    font-size: 13px;
    height: 36px;
    outline: 1px solid transparent;
    padding: 6px 12px;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      background: var(--wp-admin-theme-color-darker-10);
      box-shadow: none;
    }
  }
}
